.group__input {
    background-color: inherit;
    border: 0.8px solid #1f233e;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    letter-spacing: 0.2px;
    margin: 0 auto 2em auto;
    text-align: center;
    width: 60%;
    height: 3em;
}

.btn {
    background-color: inherit;
    border: 0.8px solid #1f233e;
    border-radius: 3.2px;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 0.2px;
    margin-top: 3em;
    text-align: center;
    transition: all 0.3s;
    width: 5em;
    height: 2.5em;
}

.btn:hover {
    background-color: #1f233e;
    border: solid 0.8px #4a4a4a;
    color: #0087de;
    cursor: pointer;
}

.btn:active {
    background-color: #ffffff;
    border: solid 0.8px #4a4a4a;
    color: #1f233e;
    cursor: pointer;
}

.response-field {
    border: solid 2px #ffffff;
    color: #ffffff;
    letter-spacing: 0.2px;
    margin: 0 auto;
    margin-top: 1.5em;
    overflow: auto;
    text-align: center;
    width: 80%;
    min-height: 120px;
}
